.vaccination-route {
  background: #161625;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.vaccination-body-container {
  width: 90%;
  max-width: 1146px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
}
.select-state-box {
  /* width: 130px; */
  background-color: transparent;
  margin-right: 10px;
}

/* @media screen and(min-width:768px) {
  .select-state-box {
    width: 260px;
  } */
/* } */

.react-select-container {
  /* background-color: yellow; */
  font-family: 'Roboto';
  font-style: normal;
  width: 130px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #94a3b8 !important;
  /* background-color: #222234; */
}
.select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
.vaccination-loader-container {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .react-select-container {
    width: 260px;
    font-size: 15px;
    color: #94a3b8;
  }
  .select-container {
    justify-content: flex-end;
  }
  .select-state-box {
    margin-right: 16px;
  }
}
