.not-found-route {
  background-color: #161625;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-container {
  width: 100%;
  max-width: 1146px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found-head {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #cbd5e1;
  margin-bottom: 0px;
}
.not-found-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #94a3b8;
}
.not-found-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  width: 66px;
  height: 32px;
  /* Light / blue / 600 */
  background: #2563eb;
  border-radius: 8px;
  /* Inside auto layout */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  /* identical to box height, or 133% */
  /* Light / base / white */
  color: #ffffff;
}
.not-found-image {
  width: 80%;
  max-width: 400px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .not-found-head {
    font-size: 32px;
    line-height: 48px;
  }
  .not-found-text {
    font-size: 20px;
    line-height: 32px;
  }
  .not-found-button {
    padding: 12px 24px;
    width: 88px;
    height: 48px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 24px;
  }
}
